
@{
    ViewBag.Title = "Plans";
}

<h2>Plans</h2>

<section>
    <div class="container-fluid" id="container-plans">
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-sm-12  py-4 mx-2" id="retirementId">
                <a href="/Home/Contact.cshtml">
                    <img id="plansImages" src="/Images/retirement.jpg" alt="Retirement Plans" class="img-thumbnail">
                </a>
            </div>

            <div class="col-md-5 col-sm-12 py-4 mx-2" id="investmentId">
                <a href="/Account/InvestmentInput">
                    <img id="plansImages" src="/Images/Invest.jpg" alt="Investment Plans" class="img-thumbnail">
                </a>
            </div>
            
        </div>
    </div>
</section>  